

.card {
  width: 21.375rem; /* 342px */
  min-height: 29.375rem; /* 470px; */
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  background: #fff;
  margin: 0 auto 20px;
  border-radius: 4px;
  position: relative;
}

.sortControls {
  position: absolute;
  top: 0;
  left: 1rem; /* 16px */
}

.sortArrow {
  border: 0;
  background: transparent;
  cursor: pointer;
  margin-right: .75rem; /* 12px */
  margin-top: .25rem; /* 4px */

}

.poster {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.index {
  width: 4rem; /* 64px */
  font-weight: 700;
  font-size: 2.375rem; /* 38px */
  line-height: 1.75rem; /* 28px */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.header {
  display: flex;
  margin: 8px 16px;
  gap: 16px;
}
/*
.title_and_info {
} */

.title {
  font-weight: 500;
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

/* think of a better classname */
.info {
  font-weight: 400;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  color: var(--secondary-text-color);
}

.poster {
  height: 11.25rem; /* 180px */
  width: 100%;
  object-fit: cover;
  object-position: top;
  /* width: 128px;
  height: auto;
  object-fit: contain; */
}

.ratings {
  color: var(--secondary-text-color);
  margin: 12px 24px;
}

.rating {
  margin-right: 24px;
  display: inline-flex;
  align-items: center;
}

.rating_logo_imdb {
  display: inline-block;
  width: 1.375rem;
  height: 1.375rem;
  margin-right: 6px;
  background: url('/imdb.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.rating_logo_tomatoes {
  display: inline-block;
  width: 1.375rem;
  height: 1.375rem;
  margin-right: 6px;
  background: url('/rotten_tomatoes_sprite.png') 50% 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.rating:last-child {
  margin-right: 0;
}

.plot {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  color: var(--secondary-text-color);
  margin: 0 24px;
}

.readmore {
  border: 0;
  background: white;
  cursor: pointer;
  color: #6200E8;
}

.footer {
  /* background-color: cadetblue; */
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 24px;
}

.footer_right_buttons {
  margin-left: auto;
}

.rate {
  display: flex;
  align-items: center;
}

.rate_button {
  cursor: pointer;
  font-size: 0.875rem; /* 14px */
  font-weight: 500;
  line-height: 1.5rem; /* 24px */
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #6200E8;
  border: 0;
  background-color: #fff;
  height: 2.25rem; /* 36 */
}