.button {
  display: flex;
  cursor: pointer;
  width: 2rem; /* 32px */
  height: 2rem; /* 32px */
  border-width: 0;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}
